/* src/app/globals.css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #000000;
  /* Deep black background */
  overflow: hidden;
  /* Prevent scrollbars */
}